
body{
 background-color: grey;
}
a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
       
}

.picture > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
}

ul{
    display: none;
}

.bars:hover ul{
    display: block;
    list-style: none;
    margin-left: 40px;
    margin-top: -50px;
   position: absolute;

}

ul{
    background-color: gray;
    padding-left: 10px;
    font-size: 20px; 

}

ul li:hover{
    background-color: turquoise;
    color: black;
}

ul li:last-child{
 border-bottom: none;
}

.story{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 70%; 
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: white;
    z-index: 1;

}

.text{
    background-color: #CDE8FF;
    padding: 20px 50px;
    text-align: justify;
}

.image{
    background:linear-gradient(to bottom, #39FAA8  0%, #398BFA 100%);
}

img{
    width: 100px;
    height: 100px;
    position: sticky;
    top: 100px;
    border-radius:50%;

}



.header{
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color:grey;
}

.copyright{
    text-align: center;
}

@media all and (max-width: 600px){
    .story{    
        width: 80%; 
        padding: 0 10px 10px 10px;   
    }

    .text{
        padding: 10px 40px;     
    }

    .fas{
        font-size: 70px;
    }

    .picture > img{
        width: 70px;
        height:70px;
    }
}


@media all and (max-width: 400px){
    .story{    
        width: 90%; 
        grid-template-columns: 1fr 6fr;
        padding: 0 5px 5px 5px;   
    }

    .text{
        padding: 5px 20px;
        
    }

    .fas{
        font-size: 50px;
    }

    .picture > img{
        width: 45px;
        height:45px;
    }
}